<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <template th:replace="~{commons/common :: head}"></template>
</head>
<body>
<br>
<!--  显示列表 -->
<form action="" id="listform" method="post">
    <div class="panel admin-panel">
        <div class="panel-head">
            <strong class="icon-reorder"> 内容列表</strong>
            <a href="" style="float:right; display:none;">添加字段</a>
        </div>
        <div class="padding border-bottom">
            <ul class="search" style="padding-left:10px;">
                <li><a class="button border-main icon-plus-square-o" href="##"> 增加</a></li>
                <li>
                    <input class="input" name="keywords" placeholder="请输入搜索关键字" style="width:250px; line-height:17px;display:inline-block"
                           type="text"/>
                    <a class="button border-main icon-search" href="javascript:void(0)" onclick="changesearch()"> 搜索</a>
                </li>
            </ul>
        </div>
    </div>
</form>

<!--  表格显示类容 -->
<table class="table table-hover text-center">
    <tr>
        <th>ID</th>
        <th >图书ID</th>
        <th width="15%">读者ID</th>
        <th width="15%">借阅时间</th>
        <th width="15%">到期时间</th>
        <th >是否归还</th>
        <th width="15%">归还时间</th>
        <th>状态</th>
        <th>操作</th>
    </tr>
    <tr th:if="${page.records != null}" th:each="borrow : ${page.records}">
        <td th:text="${borrow.id}"></td>

        <td th:text="${borrow.bookId}"></td>
        <td th:text="${borrow.readerId}"></td>
        <td th:text="${borrow.borrowTime}"></td>

        <td th:text="${borrow.shouldRTime}"></td>

        <td th:text="${borrow.returnStatus == 1 ? '已还' : '未还'}"> </td>

        <td  th:text="${#strings.isEmpty(borrow.returnTime) ? '' : borrow.returnTime}"></td>

        <td th:text="${borrow.status == 0 ? '正常' : '失效'}"></td>
        <td>
            <a class="button border-red" href="javascript:void(0)"
               th:onclick="deleteB(this.getAttribute('id'))">
                <span class="icon-trash-o"></span> 删除</a>
        </td>
    </tr>
</table>

<nav aria-label="Page navigation" th:if="${page.pages > 1}">
    <ul class="pagination">
        <li th:class="|${page.hasPrevious()  ? '' : 'disabled'}|">
            <a th:href="@{/borrow/list(current= ${page.current} - 1)}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <!--            ${page.current > 1 ? page.current - 2 : 0},${page.current <= page.pages - 2  ? page.current + 2 : page.pages - 1}-->
        <li th:class="|${page.current == cur ? 'active' : ''}|"
            th:each="cur : ${#numbers.sequence((page.current > 2 ? page.current - 2 : 1) ,
            (page.current < page.pages - 2  ? page.current + 2 : page.pages ))}">
            <a th:href="@{/borrow/list(current = ${cur})}" th:text="${cur}">2</a>
        </li>

        <li th:class="|${page.hasNext() ? '' : 'disabled'}|">
            <a th:href="@{/borrow/list(current= ${page.current} + 1)}"  aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

<script th:src="@{/js/list.js}"></script>
</body>
</html>
