<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<div th:fragment="head">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <meta content="webkit" name="renderer">
    <link th:href="@{/css/pintuer.css}" rel="stylesheet">
    <link th:href="@{/css/admin.css}" rel="stylesheet">
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/pintuer.js}"></script>

</div>

<div th:fragment="nav">
    <div class="header bg-main">
        <div class="logo margin-big-left fadein-top">
            <h1><img alt="" class="radius-circle rotate-hover" height="50"  th:if="${loginMaster != null}" th:src="@{/images/y.jpg}"/>后台管理中心</h1>
        </div>
        <div class="head-l">
            <a class="button button-little bg-green" href="" target="_blank">
            <span class="icon-home"></span> 前台首页</a> &nbsp;&nbsp;
            <a class="button button-little bg-blue" href="##">
            <span class="icon-wrench"></span> 清除缓存</a> &nbsp;&nbsp;
            <a class="button button-little bg-red" th:if="${loginMaster != null}" th:href="@{/logout}">
            <span class="icon-power-off"></span> 退出登录</a>
        </div>
    </div>

    <div class="leftnav">
        <div class="leftnav-title"><strong><span class="icon-list"></span>菜单列表</strong></div>
        <h2><span class="icon-user"></span>图书管理</h2>
        <ul style="display:block">
            <li><a th:href="@{/book/list}" target="right"><span class="icon-caret-right"></span>图书列表</a></li>
            <li><a th:href="@{/borrow/list}" target="right"><span class="icon-caret-right"></span>借阅列表</a></li>
            <li><a th:href="@{borrow/pass}" target="right"><span class="icon-caret-right"></span>逾期未还</a></li>
        </ul>
        <h2><span class="icon-pencil-square-o"></span>读者管理</h2>
        <ul>
            <li><a th:href="@{/reader/list}" target="right"><span class="icon-caret-right"></span>所有读者</a></li>
        </ul>
    </div>

    <script type="text/javascript">
        $(function () {
            $(".leftnav h2").click(function () {
                $(this).next().slideToggle(200);
                $(this).toggleClass("on");
            })
            $(".leftnav ul li a").click(function () {
                $("#a_leader_txt").text($(this).text());
                $(".leftnav ul li a").removeClass("on");
                $(this).addClass("on");
            })
        });
    </script>
    <ul class="bread">
                <li><a class="icon-home" th:href="@{/book/list}" target="right"> 图书管理</a></li>
        <li><a th:href="@{/index}" id="a_leader_txt">查询所有</a></li>
        <li><b>当前语言：</b><span style="color:red;">中文</php></span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;切换语言：<a href="#">中文</a> &nbsp;&nbsp;<a href="#">英文</a></li>
    </ul>
</div>


