<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <template th:replace="~{commons/common :: head}"></template>
    <title>编辑图书信息</title>
</head>
<body>

<div class="panel admin-panel">
    <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>增加图书</strong></div>
    <div class="body-content">
        <form th:action="@{/book/edit}" class="form-x" method="post">
            <input name="id" type="hidden" th:value="${book.id }">

            <div class="form-group">
                <div class="label">
                    <label> 图书名称</label>
                </div>
                <div class="field">
                    <input class="input w50" data-validate="required:名称" name="name" type="text"
                           th:value="${book.name }"/>
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>图书类型：</label>
                </div>

                <div class="field">
                    <select class="input w50" name="type">

                        <option disabled value="0">请选择分类</option>
                        <option th:selected="${book.type == 2 ? 'selected' : ''}"  value="2">文学类</option>
                        <option th:selected="${book.type == 3 ? 'selected' : ''}"  value="3">历史类</option>
                        <option th:selected="${book.type == 4 ? 'selected' : ''}"  value="4">悬疑类</option>
                        <option th:selected="${book.type == 5 ? 'selected' : ''}"  value="5">心理健康类</option>
                    </select>
                    <div class="tips"></div>

                </div>
            </div>
            <div class="clear"></div>
            <div class="form-group">
                <div class="label">
                    <label>是否可借数量：</label>
                </div>
                <div class="field">
                    <input class="input" name="borrowNum" type="text" th:value="${book.borrowNum }"/>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>出版社：</label>
                </div>
                <div class="field">
                    <input class="input" name="press" type="text" th:value="${book.press }"/>
                </div>
            </div>

            <div class="form-group">
                <div class="label">
                    <label>价格</label>
                </div>
                <div class="field">
                    <input class="input" name="price" type="text" th:value="${book.price }"/>
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>出版时间：</label>
                </div>
                <div class="field">

                    <input class="laydate-icon input w50" data-validate="required:日期不能为空"
                           name="publishDate"
                           style="padding:10px!important; height:auto!important;border:1px solid #ddd!important;" type="date"
                           th:value="${book.publishDate}"/>
                    <div class="tips"></div>
                </div>
            </div>

            <div class="form-group">
                <div class="label">
                    <label>作者：</label>
                </div>
                <div class="field">
                    <input class="input w50" name="author" type="text" th:value="${book.author }"/>
                    <div class="tips"></div>
                </div>
            </div>

            <div class="form-group">
                <div class="label">
                    <label></label>
                </div>
                <div class="field">
                    <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
                </div>
            </div>
        </form>
    </div>
</div>


</body>
</html>