<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <template th:replace="~{commons/common :: head}"></template>
</head>
<body>
<br>
<!--  显示列表 -->
<form action="" id="listform" method="post">
    <div class="panel admin-panel">
        <div class="panel-head">
            <strong class="icon-reorder"> 内容列表</strong>
            <a href="" style="float:right; display:none;">添加字段</a>
        </div>
        <div class="padding border-bottom">
            <ul class="search" style="padding-left:10px;">
                <li><a class="button border-main icon-plus-square-o" href="##"> 增加</a></li>
                <li>
                    <input class="input" name="keywords" placeholder="请输入搜索关键字" style="width:250px; line-height:17px;display:inline-block"
                           type="text"/>
                    <a class="button border-main icon-search" href="javascript:void(0)" onclick="changesearch()"> 搜索</a>
                </li>
            </ul>
        </div>
    </div>
</form>

<!--  表格显示类容 -->
<table class="table table-hover text-center">
    <tr>
        <th style="text-align:left; padding-left:20px;" width="100">ID</th>
        <th width="10%">账户</th>
        <th width="10%">名字</th>
        <th>昵称</th>
        <th width="10%">性别</th>
        <th>学号</th>
        <th >借阅次数</th>
        <th width="310">操作</th>
    </tr>
    <tr th:if="${page.records != null}" th:each="reader : ${page.records}">
        <td th:text="${reader.id}"></td>

        <td th:utext="${reader.account}"></td>
        <td th:utext="${reader.name}">name</td>

        <td><font color="#00CC99" th:utext="${reader.nickname}">author</font></td>

        <td th:text="${reader.sex == 1 ? '男' : '女'}"> 10</td>

        <td  th:text="${reader.studentId}"> 10</td>

        <td th:text="${reader.borrowNumber}"> 30</td>
        <td>
            <div class="button-group">
                <!--  修改  -->
                <a class="button border-main">
                    <span class="icon-edit"></span>修改</a>
                <a class="button border-red" href="javascript:void(0)" th:id="${reader.id}" th:name="${reader.name}"
                   th:onclick="deleteBook(this.getAttribute('id'),this.getAttribute('name'))">
                    <span class="icon-trash-o"></span> 删除</a>
            </div>
        </td>
    </tr>
</table>

<nav aria-label="Page navigation" th:if="${page.pages > 1}">
    <ul class="pagination">
        <li th:class="|${page.hasPrevious()  ? '' : 'disabled'}|">
            <a th:href="@{/book/list(current= ${page.current} - 1)}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <!--            ${page.current > 1 ? page.current - 2 : 0},${page.current <= page.pages - 2  ? page.current + 2 : page.pages - 1}-->
        <li th:class="|${page.current == cur ? 'active' : ''}|"
            th:each="cur : ${#numbers.sequence((page.current > 2 ? page.current - 2 : 1) ,
            (page.current < page.pages - 2  ? page.current + 2 : page.pages ))}">
            <a th:href="@{/book/list(current = ${cur})}" th:text="${cur}">2</a>
        </li>

        <li th:class="|${page.hasNext() ? '' : 'disabled'}|">
            <a th:href="@{/book/list(current= ${page.current} + 1)}"  aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

<script th:src="@{/js/list.js}"></script>
</body>
</html>
